.templates-homepage {
  display: grid;
  gap: 0.5rem;

  .block {
    &-items {
      border-collapse: collapse;

      .infinite-scroll-component {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

        &>div:nth-child(1) {
          display: none;
        }
      }

      .card {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 1rem;
        box-sizing: border-box;
        border-collapse: collapse;
        border: 1px solid transparent;

        -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        margin: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 1rem;

        &:not(:last-child) {

        }

        &:hover {
          background-color: #ddd;
        }

        &-head {
          .title {
            color: black;

          }

        }

        &-detail {
          display: grid;
          justify-items: end;
        }
      }
    }
  }

}